.auto {
    text-align: center;
    margin-top: 8px;
}

.Carros {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.autos {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
    background: #f9f9f9;
    box-shadow: 0 2px 4px rgba(4, 23, 100, 0.1);
    flex: 1 1 calc(25% - 20px);
    max-width: 220px;
}


.autos img {
    width: 100%;
    border-radius: 5px;

}

h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 1.5rem;
    color: #333;
}
